{% extends 'base.html' %}
{% block title %}Timetable - {{ classroom.name }}{% endblock %}
{% block content %}
<h2>Timetable for {{ classroom.name }}</h2>
<table class="table table-bordered">
  <thead><tr><th>Day</th><th>Time</th><th>Subject</th><th>Teacher</th></tr></thead>
  <tbody>
    {% for item in timetable %}
      <tr>
        <td>{{ item.day }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.teacher.name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'classroom_list' %}" class="btn btn-secondary">Back to Classrooms</a>
{% endblock %}
